@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body{
    margin:0;
    background: linear-gradient(180deg, #fbc2eb 0%, #fad0c4 100%);
    font-family: "Caveat", cursive;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

svg{
    width:500px;
 
}

.cls-1{
    fill:#7a3f0e;
}

.cls-2{ fill:#ff1744; }
.cls-3{ fill:#ff4d6d; }
.cls-4{ fill:#ff6f91; }
.cls-5{ fill:#d63384; }
.cls-6{ fill:#fb6f92; }
.cls-7{ fill:#c9184a;}

#heartsGroup path{
    opacity: 0;
    transform: scale(0);
    transform-box: fill-box;
    transform-origin: center;
}

#ground {
    position: absolute;
    bottom: 31%;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 0;
    background: #6b3e26;
}

.heart {
    position: absolute;
    transform: rotate(45deg);
    pointer-events: none;
    animation: pulse 2s infinite ease-in-out;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--heartColor);
    border-radius: 50%;
}

.heart::before { top: -50%; left: 0; }
.heart::after { left: -50%; top: 0; }

@keyframes pulse {
    0%,100% { transform: rotate(45deg) scale(1); }
    50% { transform: rotate(45deg) scale(1.2); }
}


.fall {
    position: fixed;
    top: -20px;
    font-size: 20px;
    color: #7a1e3a;
    animation: fall linear forwards;
    pointer-events: none;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
        opacity: 0;
    }
}


#message {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: clamp(35px,4vw,35px);
    color: #7a1e3a;
    opacity: 0;
    transition: opacity 2s ease;
}


