@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
body {
    margin: 0;
    overflow: hidden;
     font-family: "Caveat", cursive;
}


.scene {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #fce3ec, #f8cdda);
    position: relative;
}


svg {
    width: 100%;
    height: 100%;
}


.branch {
    fill: none;
    stroke: #5b2c2c;
    stroke-linecap: round;
    transform-origin: bottom center;
    animation: sway 4s ease-in-out infinite alternate;
}

@keyframes sway {
    from { transform: rotate(-1deg); }
    to { transform: rotate(1deg); }
}


.heart {
    position: absolute;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--heartColor);
    border-radius: 50%;
}

.heart::before { top: -9px; }
.heart::after { left: -9px; }




.fall {
    position: absolute;
    color: rgba(255,0,0,0.6);
    font-size: 18px;
    animation: fall linear forwards;
}

@keyframes fall {
    from { transform: translateY(-100vh); opacity: 1; }
    to { transform: translateY(10vh); opacity: 0; }
}


.message {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: #6b1f1f;
    opacity: 0;
    transition: opacity 2s ease;
}
